{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "semi": ["error", "never"],
    "object-curly-newline": "off"
  }
}
